@mixin footer_base {
    font-family: $fuente;
    padding: 3vh;
    margin: none;
    line-height: 2;
    background-color: $colorceleste;
    color: white; 
    font-size: 1.5vh;
}

.footer {
    @include footer_base;
    &_father {
        display: flex;
        justify-content: space-evenly;
    }
}

.signfooter {
    font-size: 8px;
    text-align: center;
}

$redesSociales: (
    github: #1d1d1d,
    twitter: #55acee,
    instagram: #c92d8f,
);

@each $nombre, $color in $redesSociales {
    .link-#{$nombre} {
        margin: 0 5px;
        padding: 10px;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        background-color: $color;
        border-style: solid;
        font-size: 20px;
    }
}