@media (max-width:768px) {
    .clothing {
       grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: auto;
    }
    .title {
        text-align: center;
    }
    .navegador_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .clothingimg {
        width: 100%;
        padding: 20px;
    }
    .card_father {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width:320px) {
    .title {
        text-align: center;
    }
    .navegador_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .clothing__grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
    .card_father {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .contact_father {
        display: grid;
        grid-template-columns: repeat(1fr);
        background-size: auto;
    }
}
